
Properties/AssemblyInfo.cs

obj/Debug/MainWindow.baml

obj/Debug/MainWindow.g.cs

obj/Debug/MainWindow.g.i.cs

obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs

obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs

obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs

obj/Debug/UE04.Properties.Resources.resources

obj/Debug/UE04.csproj.FileListAbsolute.txt

obj/Debug/UE04.csproj.GenerateResource.Cache

obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache

obj/Debug/UE04.csprojResolveAssemblyReference.cache

obj/Debug/UE04.exe

obj/Debug/UE04.g.resources

obj/Debug/UE04.pdb

obj/Debug/UE04_MarkupCompile.cache

obj/Debug/UE04_MarkupCompile.i.cache

obj/Debug/App.g.i.cs

bin/Debug/UE04.exe

bin/Debug/UE04.exe.config

bin/Debug/UE04.pdb

bin/Debug/UE04.vshost.exe

UE04.csproj

bin/Debug/UE04.vshost.exe.config

bin/Debug/UE04.vshost.exe.manifest

bin/Debug/de/microsoft.expression.utility.resources.dll

bin/Debug/microsoft.expression.utility.dll

obj/Debug/App.g.cs

Properties/Settings.settings

App.config
